@charset "utf-8";
body {
	background-color:#21243d; /*背景色*/
	font-size:40px; /*フォントサイズ*/
	font-family: "メイリオ",sans-serif; /*フォント（変え方わからん）*/
	line-height:4px; /*行の高さ*/
	color:#ffd082; /*文字色*/

}
li {
	list-style-type:decimal;	/*マーカ*/
}